.liwrapper p {
    font-size: 14px !important;
}

.liheadp img {
    margin-left: 42px;
    margin-top: 15px;
    height: 140px;
    width: 140px;
}

.liradiocomps label {
    width: 99px;
}

.lifinds label {
    margin-top: 10px;
}