ul, li {
    list-style: none
}

ul#nav {
    height: 60px;/*
    background-color: #000000;*/
    margin: 0 auto;
    width: 100%;
    /*border-bottom: 1px solid black;*/
}

ul#nav li {
    display: inline-block;
    /*height: 60px;*/
    width: 15%;
    border: 1px solid black;
    text-align:center;
}

ul#nav li a {
    display: inline-block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    color: #000000;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-size: 16px;
    text-decoration: none;
}

ul#nav li a:hover {
    border-bottom: 2px solid black;
}