<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quinnnorris.ssm.mapper.LabelCustomMapper">

    <select id="selectLabelById" parameterType="LabelCustom" resultType="LabelCustom">
        SELECT * FROM label WHERE id = #{id}
    </select>

    <insert id="insertSelfLabel" parameterType="LabelCustom">
        INSERT INTO label (id,sex,city,age,work_id,stars) VALUE (#{id},#{sex},#{city},#{age},#{work_id},5.0)
    </insert>

    <update id="updateSelfLabel" parameterType="LabelCustom">
        UPDATE label SET sex = #{sex} , city = #{city} , age = #{age} , work_id = #{work_id} WHERE id = #{id}
    </update>

    <update id="updateFindLabel" parameterType="LabelCustom">
        UPDATE label SET fsex = #{fsex} , fcity = #{fcity} , fage = #{fage} , fwork_id = #{fwork_id} WHERE id = #{id}
    </update>

    <update id="updateCustomLabel" parameterType="LabelCustom">
        UPDATE label SET label1 = #{label1} , label2 = #{label2} , label3 = #{label3} ,
        label4 = #{label4} , label5 = #{label5} WHERE id = #{id}
    </update>

    <update id="updateStars" parameterType="LabelCustom">
        UPDATE label SET stars = (#{stars} + stars)/2.0 WHERE id =#{id}
    </update>

</mapper>